Repository philwelz/chat, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, terraform

chore(deps): update actions/create-github-app-token action to v1.11.5
  .github/workflows/renovate.yml
Labels: cicd

chore(deps): update renovatebot/github-action action to v41.0.13
  .github/workflows/renovate.yml
Labels: cicd

chore(deps): update terraform providers
  src/.terraform.lock.hcl
  src/_provider.tf
Labels: terraform

feat: make endpointrs config more dynamically, enable agents
  src/_locals.tf
  src/_variables.tf
  src/ca-librechat.tf
Labels: terraform

feat: update environment variable configuration for OpenAI models and moderation
  src/ca-librechat.tf
Labels: terraform

chore(deps): update terraform azurerm to v4.20.0
  src/.terraform.lock.hcl
  src/_provider.tf
Labels: terraform

chore(deps): update renovatebot/github-action action to v41.0.14
  .github/workflows/renovate.yml
Labels: cicd

chore(deps): update terraform monorepo to v1.11.0
  .github/workflows/tf-deploy.yml
  .github/workflows/tf-validation.yml
  src/_provider.tf
Labels: cicd, terraform

chore(deps): update terraform providers
  src/.terraform.lock.hcl
  src/_provider.tf
Labels: terraform

chore(deps): update actions/create-github-app-token action to v1.11.6
  .github/workflows/renovate.yml
Labels: cicd

chore(deps): update terraform monorepo to v1.11.1
  .github/workflows/tf-deploy.yml
  .github/workflows/tf-validation.yml
  src/_provider.tf
Labels: cicd, terraform

chore(deps): update terraform providers
  src/.terraform.lock.hcl
  src/_provider.tf
Labels: terraform

chore(workflows): update terraform version format and add tf-docs workflow
  .github/renovate.js
  .github/workflows/tf-deploy.yml
  .github/workflows/tf-docs.yml
  .github/workflows/tf-validation.yml
Labels: cicd

chore(deps): update terraform providers
  src/.terraform.lock.hcl
  src/_provider.tf
Labels: terraform

chore(workflows): update tf-docs workflow to use pull request head ref
  .github/workflows/tf-docs.yml
Labels: cicd

chore(workflows): update tf-docs workflow permissions to allow write access
  .github/workflows/tf-docs.yml
Labels: cicd

chore(deps): update terraform monorepo to v1.11.1
  .github/workflows/tf-deploy.yml
  .github/workflows/tf-validation.yml
  src/_provider.tf
Labels: cicd, terraform

chore(workflows): update terraform version format to string in deployment and validation workflows
  .github/workflows/tf-deploy.yml
  .github/workflows/tf-validation.yml
Labels: cicd

chore(variables): update Azure OpenAI models and versions
  src/_variables.tf
Labels: terraform

chore(deps): update terraform-docs/gh-actions digest to aeae003
  .github/workflows/tf-docs.yml
Labels: cicd

chore(variables): update LibreChat version to v0.7.7
  src/_variables.tf
Labels: terraform

chore(variables): update Meilisearch integration and add search version variable, clean renovate config
  .github/renovate.js
  src/_variables.tf
  src/ca-search.tf
  src/cosmos-db.tf
Labels: cicd, terraform

chore(workflows): remove gitleaks workflow and update renovate permissions
  .github/workflows/gitleaks.yml
  .github/workflows/renovate.yml
Labels: cicd

feat: adopt tflint
  src/.tflint.hcl
  src/_locals.tf
  src/_provider.tf
  src/ca-librechat.tf
  src/main.tf
  src/outputs.tf
  src/variables.tf
Labels: terraform

chore(deps): update terraform monorepo to v1.11.2
  .github/workflows/tf-deploy.yml
  .github/workflows/tf-validation.yml
  src/_provider.tf
Labels: cicd, terraform

chore(deps): update terraform azurerm to v4.23.0
  src/.terraform.lock.hcl
  src/_provider.tf
Labels: terraform

chore(deps): update renovatebot/github-action action to v41.0.16
  .github/workflows/renovate.yml
Labels: cicd

chore(deps): update terraform azurerm to v4.23.0
  src/.terraform.lock.hcl
  src/_provider.tf
Labels: terraform

chore(deps): update actions/create-github-app-token action to v1.11.7
  .github/workflows/renovate.yml
Labels: cicd

chore(deps): update terraform providers
  src/.terraform.lock.hcl
  src/_provider.tf
Labels: terraform

chore(deps): update renovatebot/github-action action to v41.0.17
  .github/workflows/renovate.yml
Labels: cicd

chore(deps): update terraform monorepo to v1.11.3
  .github/workflows/tf-deploy.yml
  .github/workflows/tf-validation.yml
  src/_provider.tf
Labels: cicd, terraform

chore(deps): update actions/create-github-app-token action to v1.12.0
  .github/workflows/renovate.yml
Labels: cicd

chore(deps): update azure/login digest to a457da9
  .github/workflows/tf-deploy.yml
  .github/workflows/tf-validation.yml
Labels: cicd

chore(deps): update renovatebot/github-action action to v41.0.18
  .github/workflows/renovate.yml
Labels: cicd

chore(deps): update actions/create-github-app-token action to v2
  .github/workflows/renovate.yml
Labels: cicd

chore(deps): update terraform monorepo to v1.11.4
  .github/workflows/tf-deploy.yml
  .github/workflows/tf-validation.yml
  src/_provider.tf
Labels: cicd, terraform

chore(deps): update terraform providers
  src/.terraform.lock.hcl
  src/_provider.tf
Labels: terraform

chore(deps): update terraform-docs/gh-actions action to v1.4.1
  .github/workflows/tf-docs.yml
Labels: cicd

chore(deps): update renovatebot/github-action action to v41.0.20
  .github/workflows/renovate.yml
Labels: cicd

.github/labeler.yml:

cicd:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

terraform:
- changed-files:
  - any-glob-to-any-file:
    - src/**
